// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
body > header { background: $header-bg image-url('header.png') top left; }

body > header h1 {
	@include text-shadow(#000 3px 3px 10px);
}

body > header h2 {
	margin-left: 1em !important;
	@include text-shadow(#000 3px 3px 10px);
}
